<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('partials/links.ejs') -%>
    <title>Book DriveTest - Login</title>
  </head>
  <body class="bg-gray-custom k">
    <%- include ('partials/header.ejs') -%>
    <main>
      <div
        class="container-fluid bg-light col-lg-4 col-md-10 py-4 login-container"
      >
        <h2 class="text-center">Login/Sign Up</h2>
        <div class="d-flex justify-content-center mt-4">
          <button type="button" id="btn_login" class="btn btn-primary me-3 btn-login-signup">
            Login
          </button>
          <button type="button" id="btn_signUp" class="btn btn-primary btn-login-signup">
            Sign up
          </button>
        </div>
        <%- include ('partials/login.ejs') -%> <%- include
        ('partials/signup.ejs') -%>
      </div>
    </main>
    <%- include ('partials/footer.ejs') -%> <%- include ('partials/scripts.ejs')
    -%>
  </body>
</html>
